.tile {
  border-style: solid;
  border-image-slice: 1;
  border-radius: 24%;
  border-width: 0;
  border-image-source: linear-gradient(-0.1turn, var(--bordered-tile-color1), var(--bordered-tile-color2));
  display: block;
  padding: 32px;
  padding-top: 0;
  animation: 1.3s hover ease-in infinite;
}

@keyframes hover {
  0%   { border-image-source: linear-gradient(0.1turn, var(--bordered-tile-color1), var(--bordered-tile-color2)); }
  11%   { border-image-source: linear-gradient(0.2turn, var(--bordered-tile-color1), var(--bordered-tile-color2)); }
  22%   { border-image-source: linear-gradient(0.3turn, var(--bordered-tile-color1), var(--bordered-tile-color2)); }
  33%   { border-image-source: linear-gradient(0.4turn, var(--bordered-tile-color1), var(--bordered-tile-color2)); }
  44%   { border-image-source: linear-gradient(0.5turn, var(--bordered-tile-color1), var(--bordered-tile-color2)); }
  55%   { border-image-source: linear-gradient(0.6turn, var(--bordered-tile-color1), var(--bordered-tile-color2)); }
  66%   { border-image-source: linear-gradient(0.7turn, var(--bordered-tile-color1), var(--bordered-tile-color2)); }
  77%   { border-image-source: linear-gradient(0.8turn, var(--bordered-tile-color1), var(--bordered-tile-color2)); }
  89%   { border-image-source: linear-gradient(0.9turn, var(--bordered-tile-color1), var(--bordered-tile-color2)); }
  100%   { border-image-source: linear-gradient(1turn, var(--bordered-tile-color1), var(--bordered-tile-color2)); }
}

.top {
  border-top-width: 5px;
}

.bottom {
  border-bottom-width: 5px;
}

.left {
  border-left-width: 5px;
}

.right {
  border-right-width: 5px;
}

@media screen and (max-width: 768px) {
  .tile {
    border-right: none;
    border-left: none;
  }
}