.baseline {
  text-align: center;
  display: block;
  margin-bottom: 1em;
}

.skillList {
  list-style-type: none;
  padding: 0;
  display: grid;
  grid-template-columns: 15% 15% 15% 15% 15%;
  justify-content: space-evenly;
}

.subList {
  list-style-type: none;
  padding: 0;
}

.skillCategoryName {
  margin-bottom: 16px;
  display: block;
}

.skillName {
  font-size: 0.9em;
  color: var(--font-color-secondary);
  margin-bottom: 8px;
} 

@media screen and (max-width: 768px) {
  .skillList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 40px;
    column-gap: 12px;
  }

  .skill {
    flex-basis: 100%;
    text-align: center;
  }
}