.baseline {
  text-align: center;
  display: block;
  margin-bottom: 1em;
}

.skillList {
  list-style-type: none;
  padding: 0;
  display: grid;
  grid-template-columns: 15% 15% 15% 15% 15%;
  justify-content: space-evenly;
}

.subList {
  list-style-type: none;
  padding: 0;
}

.skillCategoryName {
  margin-bottom: 16px;
  display: block;
}

.skillName {
  font-size: 0.9em;
  color: var(--gray4);
  margin-bottom: 8px;
} 